.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}
.THIS .page-section {
    border: solid 1px #ccc;
    padding: 1rem;
}
.THIS .page-header,
.THIS .page-footer {
    height: 50px;
}
.THIS .page-main {
    background: #f8f8f8;
}
.THIS .page-left,
.THIS .page-right {
    background: #f0efef;
}

.THIS .button {
    justify-content:center;
    padding-top:5px;
}
.THIS .section {
    border: 1px solid #333;
    margin-top: 2px;
}
.THIS .discipline {
    border: 1px solid #333;
}
.THIS .h2 .h3{
	font-weight: bold;
}